<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="addFriendModal" class="modal fade"
		id="addFriendModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Add Friend</h4>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<div class="form-group">
								<label for="InputAuthor">Enter Friend Name</label>
								<div class="input-group">
									<input type="text" class="form-control" id="fname" name="fname"
										placeholder="Friend Name" required="required" /> <span
										class="input-group-addon"></span>
								</div>
							</div>
						</tr>
						<tr>
							<div class="form-group">
								<label for="InputAuthor">Enter Email</label>
								<div class="input-group">
									<input type="text" class="form-control" id="email" name="email"
										placeholder="Enter Email" required="required" /> <span
										class="input-group-addon"></span>
								</div>
							</div>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="save"
						onclick="FriendWeb.addFriend();">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>