<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="addModal" class="modal fade" id="addModal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Add your Book</h4>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<div class="form-group">
								<label for="InputName">Enter Book Name</label>
								<div class="input-group">
									<input type="text" class="form-control" id="name" name="name"
										placeholder="Enter Book Name" required="required" /> <span
										class="input-group-addon"></span>
								</div>
							</div>
						</tr>
						<tr>
							<div class="form-group">
								<label for="InputAuthor">Enter Author Name</label>
								<div class="input-group">
									<input type="text" class="form-control" id="author"
										name="author" placeholder="Author Name" required="required" />
									<span class="input-group-addon"></span>
								</div>
							</div>
						</tr>
						<tr>
							<div class="form-group">
								<label for="InputAuthor">Read Status</label>
								<div>
									<select name="readStatus" id="readStatus"><option
											value="0">Read</option>
										<option value="1">Currently reading</option>
										<option value="2">Want to read</option>
									</select>

								</div>
							</div>

						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="save"
						onclick="BookWeb.addBook();">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>