
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="deleteFriendModal" class="modal fade"
		id="deleteFriendModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Delete Friend</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" id="delFId" />
					<div>Are you sure you want to delete this Friend?</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary" id="deleteF"
						onclick="FriendWeb.deleteFriend();">Yes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>