<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="lendModal" class="modal fade" id="lendModal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Select Friend</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" id="bookId" />

					<table>
						<tr>
							<td>Friend name:</td>
							<td><select name="friendid" id="owner">
									<option></option>
							</select></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="edit"
						onclick="BookWeb.lendBook();">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>