<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="parts/HeadBanner::header"></div>
	<h2>add Book</h2>
	<form th:action="@{/saveBook}" method="post">
		<div>
			<label>name:</label> <input type="text" name="name" />
		</div>
		<div>
			<label>author:</label> <input type="text" name="author" />
		</div>
		<input type="submit" value="Save"/> 
	</form>
</body>
</html>