<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="parts/HeadBanner::header"></div>
	<h1>Edit Book</h1>
	<form th:action="@{/saveEditBook}">
		<input type="hidden" name="id" th:value="${book.id}" />
		<div>
			<label>name:</label> <input th:value="${book.name}" type="text"
				name="name" />
		</div>
		<div>
			<label>author</label> <input th:value="${book.author}" type="text"
				name="author" />
		</div>
		<input type="submit" value="Save" />
	</form>

</body>
</html>