<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Library Manager</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />



</head>

<body>

	<div th:replace="parts/HeadBanner::header"></div>

	<div class="container">

		<div class="starter-template">
			<h1>Manage Your Library</h1>
			<button type="button" data-loading-text="Loading..."
				class="btn btn-primary" id="addFriend" data-toggle="modal"
				data-target="#addFriendModal">Add Friend</button>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>number</th>
					<th>Friend Name</th>
					<th>Email</th>
					<th>Edit or Delete</th>
				</tr>
			</thead>
			<tbody id="friendContainer">
				<tr th:each="friend : ${friends}">
					<td th:text="${friend.id}">id</td>
					<td th:text="${friend.name}">name</td>
					<td th:text="${friend.email}">Email</td>
					<td><button type="button" data-loading-text="Loading..."
							class="btn btn-primary" id="editFriend"
							th:onclick="|FriendWeb.showEditModal(${friend.id},'${friend.name}','${friend.email}');|">Edit
							Friend</button>
						<button type="button" data-loading-text="Loading..."
							class="btn btn-primary" id="deleteFriend"
							th:onclick="|FriendWeb.deleteFriend(${friend.id});|">Delete
							Friend</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- /.container -->

	<script th:replace="parts/friendTemplate::friendTemplate"
		type="text/javascript"></script>
	<div th:replace="parts/addFriendModal::addFriendModal"></div>
	<div th:replace="parts/editFriendModal::editFriendModal"></div>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/handlebars-v1.1.2.js"></script>
	<script src="/js/mainFriend.js"></script>

</body>
</html>