<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div>


		<div>
			<input name="username" id="username" type="text" />
		</div>
		<div>
			<input name="password" id="password" type="password" />
		</div>
		<div class="form-group">
			<button type="submit" id="saveUser" onclick="User.addUser();">Submit</button>

		</div>
	</div>
	
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/handlebars-v1.1.2.js"></script>
	<script src="/js/mainUser.js"></script>

</body>
</html>