
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Registration Form</title>

<link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<div class="col-lg-5 col-md-push-1">
		<div class="col-md-12">
			<div class="alert alert-success" id="success">
				<strong><span class="glyphicon glyphicon-ok"></span>
					Success! A confirmation e-mail will be send to your email</strong>
			</div>
		</div>
	</div>

	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/handlebars-v1.1.2.js"></script>
	<script src="/js/mainUser.js"></script>
</body>
</html>